{% comment %} 
Styles are added based on the page.styles variable
This variable is defined in front-matter with:

---
styles:
    - href: "./yo.css"
    - href: "./font-maybe.css"
---

{% endcomment %}

{%- if layout.styles -%} {%- for style in layout.styles -%}
<link crossorigin="anonymous" rel="stylesheet" href="{{ style.href | relative_url }}">
{%- endfor -%} {%- endif -%}

{%- if page.styles -%} {%- for style in page.styles -%}
<link crossorigin="anonymous" rel="stylesheet" href="{{ style.href | relative_url }}">
{%- endfor -%} {%- endif -%}
